<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- jquery autocomplete css CDN -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- custom css CDN -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>profile</title>
</head>

<body>
    <section class="my-login-page">
        <div class="h-100">
            <div class="container h-100">
                <div class="row justify-content-md-center h-100">
                    <div class="card-wrapper">
                        <div class="card fat">
                            <div class="card-body">
                                <h4 class="card-title">Search</h4>

                                <form method="POST" class="my-login-validation">
                                    {%csrf_token%}
                                    <input type="text" name="name" id="name">
                                    <button class="btn btn-success" id="btn" type="submit">search</button>
                                </form>

                                <div id="user-data">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- jquery CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- jquery autocomplete CDN -->
    <!-- source: https://jqueryui.com/autocomplete/ -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $("#btn").on('click',function (e) {
            e.preventDefault()
            $.ajax({
                type:'POST',
                url: '/view/',
                headers:{
                    "X-CSRFToken": '{{csrf_token}}'
                },
                data: $('#name').serialize(),
                dataType: 'json',
                success: function (json_data) {

                    var data=JSON.parse(json_data)
                   
                    
                    var name=`<p>Username: ${data[0].fields.Name}<p>`
                    var password=`<p> Password: ${data[0].fields.Password}<p>`
                    var email=`<p>Email: ${data[0].fields.Email}<p>`
                    var date=`<p>Date: ${data[0].fields.Date}<p>`


                    $('#user-data').append(name)
                    $('#user-data').append(password)
                    $('#user-data').append(email)
                    $('#user-data').append(date)

                }
            });
      });
    </script>

    <!-- autocomplete source code -->
    <script>
        $(function () {
            $("#name").autocomplete({
                source: '{% url "view_user" %}',
                minLength: 1
            });
        });
    </script>

</body>

</html>